## Úkol č. 8 Adopce zvířat

##### 1. Naimportujeme si modul pandas a načteme soubor zvirata.csv pomocí metody pandas.read_csv().

In [34]:
import pandas

In [35]:
adopce = pandas.read_csv("zvirata.csv", sep=";")

##### 2. Kolik má tabulka řádků a sloupců? Jaké mají názvy?

In [36]:
adopce.shape

(513, 6)

In [37]:
adopce.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

##### 3. Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [38]:
adopce.iloc[34]

id                     99
nazev_cz        Ibis bílý
nazev_en       White ibis
trida_cz            Ptáci
cena                 3000
k_prohlidce             1
Name: 34, dtype: object

In [39]:
adopce.iloc[34]["nazev_cz"]

'Ibis bílý'

In [40]:
adopce.iloc[34]["nazev_en"]

'White ibis'

##### 4. Využij metody sort_values() (a libovolných dalších metod), ke zjištění následujících informací: Adopce kterých zvířat je nejdražší?

In [41]:
nejdrazsi = adopce.sort_values(by="cena", ascending=False)

In [42]:
nejdrazsi_zvire = nejdrazsi.iloc[0]
print(nejdrazsi_zvire)

id                         335
nazev_cz       Tygr sumaterský
nazev_en        Sumatran tiger
trida_cz                 Savci
cena                     50000
k_prohlidce                  1
Name: 114, dtype: object

##### 5. Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

In [43]:
abecedne_cz = adopce.sort_values(by="nazev_cz", ascending=False)
print(abecedne_cz)

       id                                   nazev_cz                 nazev_en
371  1190                                Žluva hajní   Eurasian golden oriole  \
321  1069                                Žluna větší       Greater yellownape
135   396  Žirafa severní núbijská (= Rothschildova)   Rothschild's giraffe
4      37                            Želva žlutočelá   Indochinese box turtle
211   673                              Želva černavá  Giant Asian pond turtle
..    ...                                        ...                      ...
391  1233                             Agamka písečná        Toad-headed agama
383  1215                         Agama turkestánská     Turkestan rock agama
382  1214                               Agama stepní             Steppe agama
138   402                                       Adax                    Addax
194   621                             Achatina žravá      Giant African snail

       trida_cz   cena  k_prohlidce
371       Ptáci   1000            1
321       Ptáci   1500            1
135       Savci  50000            1
4         Plazi   1000            1
211       Plazi   2000            1
..          ...    ...          ...
391       Plazi   1500            1
383       Plazi   1500            1
382       Plazi   1000            1
138       Savci   5000            1
194  Bezobratlí   1000            1

[513 rows x 6 columns]

In [44]:
abecedne_en = adopce.sort_values(by="nazev_en", ascending=False)
print(abecedne_en)

       id             nazev_cz                 nazev_en trida_cz  cena
161   491  Frankolín žlutokrký  Yellow-necked francolin    Ptáci  1000  \
455  1347    Vlhovec žlutokápý  Yellow-hooded blackbird    Ptáci  1000
341  1140      Majna žlutolící       Yellow-faced mynah    Ptáci  2000
230   745        Nesyt africký      Yellow-billed stork    Ptáci  2500
196   628       Mangusta liščí          Yellow mongoose    Savci  5000
..    ...                  ...                      ...      ...   ...
303  1010        Zvonek zelený                             Ptáci  1000
491  1396       Kolpík africký                             Ptáci  3000
249   800          Husa domácí                             Ptáci  1500
483  1385  Tkalčík červenozobý                             Ptáci  1000
512  1421   Kachnice kaštanová                             Ptáci  1000

     k_prohlidce
161            1
455            0
341            1
230            0
196            1
..           ...
303            1
491            1
249            1
483            1
512            1

[513 rows x 6 columns]